<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Login</title>
	</head>
	<body>
		<%-include("headerPage")%>
		<h1>This is Log in for ejs</h1>
	</body>
</html>